{% extends "cookbook/index.html" %}

{% block body %}
<strong>Ingredients table</strong>
<table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Category</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sopropo</td>
                <td>Verdura, Toko</td>
                <td><i class="tiny material-icons" style="color: orangered">thumb_down</i></td>
            </tr>
            <tr>
                <td>Funchi</td>
                <td>Harina</td>
                <td><i class="tiny material-icons" style="color: orangered">thumb_down</i></td>
            </tr>
            <tr>
                <td>Harina pan</td>
                <td>Harina</td>
                <td><i class="tiny material-icons" style="color:olivedrab">thumb_up</i></td>
            </tr>
            <tr>
                <td>Harina blanco</td>
                <td>Harina</td>
                <td><i class="tiny material-icons" style="color: orangered">thumb_down</i></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
