{% extends "cookbook/index.html" %}

{% block body %}
<div class="row">
    <strong>Kitchen</strong><br/>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">kitchen</i>Fridge</div>
            <div class="collapsible-body">
                table
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">room_service</i>Pantry</div>
            <div class="collapsible-body">
                    table
            </div>
        </li>
    </ul>
    Collapsible needs jQuery
</div>
{% endblock %}