{% extends "cookbook/index.html" %}

{% block body %}
<strong>Kitchen</strong><br/>
Pantry <br/>
Fridge
<table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Foo</td>
                <td>Pantry</td>
            </tr>
            <tr>
                <td>Baa</td>
                <td>Fridge</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
