{% extends "cookbook/index.html" %}

{% block body %}
<div class="row">
    <strong>Kitchen</strong><br/>
    <ul class="collapsible">
        <li id="kitchen_fridge_collapsible">
            <div class="collapsible-header"><i class="material-icons">kitchen</i>Fridge</div>
            <div class="collapsible-body">
                add allfridge items here
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">room_service</i>Pantry</div>
            <div class="collapsible-body">
                    add pantry items
            </div>
        </li>
    </ul>
</div>
{% endblock %}