{% extends "cookbook/index.html" %}

{% block body %}
<strong>Recipe's</strong>
<table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sopropo</td>
                <td>Carni, Sopropo, Dried Shrimp, Tomati</td>
                <td>Main</td>
            </tr>
            <tr>
                <td>Pan bati</td>
                <td>Funchi, Harina pan, Harina blanco, Lechi, Awa</td>
                <td>Side</td>
            </tr>
            <tr>
                <td>Moksi alesi</td>
                <td>Carni, Arroz</td>
                <td>Main</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
